body { margin:0; padding:0; background:url(../images/body_bg.jpg); }

div,h1,h2,p,span,img,a { margin:0; padding:0; list-style:none; border:0; text-decoration:none; outline:none; }

.fleft { float:left; margin:0 0 15px 0; padding:0; }
.fright { float:right; margin:0; padding:0; }

/*========== Layout Container Objects ==========*/
#wrap { width:950px; margin:0 auto; background:url(../images/wrap_bg.jpg) repeat-y; overflow:hidden; }

/*======== Header Section ========*/
#header { width:950px; height:270px; float:left; background:url(../images/header_bg.jpg) no-repeat; }
.logo { width:auto; float:left; margin:20px 0 0 19px; padding:0; }

/*======== Bodycontainer Section ========*/
#bodycontainer { width:904px; float:left; padding:0 23px 0 23px; }
.leftpanel { width:310px; float:left; }
.leftpanel h1 { width:310px; float:left; font-family:Tahoma, Arial, Helvetica, sans-serif; font-size:21px; font-weight:bold; color:#5a5a5a; }
.leftpanel h2 { width:310px; float:left; padding:10px 0 5px 0; font-family:Tahoma, Arial, Helvetica, sans-serif; font-size:21px; font-weight:bold; color:#5a5a5a; }
.leftpanel span { width:310px; float:left; padding:5px 0 10px 0; font-family:Tahoma, Arial, Helvetica, sans-serif; font-size:20px; font-weight:normal; color:#0096ff; }
.leftpanel p { width:310px; float:left; padding:0 0 18px 0; font-family:Arial, Helvetica, sans-serif; font-size:20px; font-weight:normal; color:#4c4c4c; }

.rightpanel { width:550px; float:right; position:relative; }
.rightpanel h1{ width:550px; display:table; padding:0; font-family:Tahoma, Arial, Helvetica, sans-serif; font-size:30px; font-weight:bold; color:#5a5a5a; }
.rightpanel h2 { width:550px; display:table; font-family:Tahoma, Arial, Helvetica, sans-serif; font-size:19px; font-weight:bold; color:#5a5a5a; }
.rightpanel span { width:550px; float:left; font-family:Tahoma, Arial, Helvetica, sans-serif; font-size:18px; font-weight:normal; color:#0096ff; }
.rightpanel ul { width:525px; float:right; margin:0; padding:0; }
.rightpanel ul li { width:525px; float:left; margin:0; padding:10px 0 0 0; list-style:decimal; font-family:Tahoma, Arial, Helvetica, sans-serif; font-size:15.5px; font-weight:normal; color:#a6a6a6; }
.rightpanel p { width:auto; display:compact; padding:12px 0 0 0; font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:normal; color:#4c4c4c; }
.rightpanel img { float:left; margin:16px 10px 10px 0; padding:0; }
.contact { width:150px; height:61px; position:absolute; right:0; top:-130px; }

.contactus { width:904px; float:left; position:relative; }
.contactus h1 { width:694px; float:left; padding:0 0 0 210px; font-family:Tahoma, Arial, Helvetica, sans-serif; font-size:30px; font-weight:bold; color:#5a5a5a; }
.backlink { width:auto; position:absolute; top:-90px; right:0; }
.backlink a { text-decoration:underline; font-family:Tahoma, Arial, Helvetica, sans-serif; font-size:21px; font-weight:bold; color:#5a5a5a; }
.backlink a:hover { text-decoration:none; }

/*======== Footer Section ========*/
#footer { width:930px; height:45px; float:left; padding:50px 20px 0 0; font-family:Arial, Helvetica, sans-serif; font-weight:normal; font-size:12px; color:#5b5b5b; text-align:right; }
#footer span { width:930px; float:left; text-align:right; color:#FFFFFF; padding:5px 0 0 0; }
#footer span a { color:#FFFFFF; text-decoration:underline; }
#footer span a:hover { text-decoration:none; }
