
body { margin:0; padding:0; background:url(./psychedelic_pattern.png); }

div,h1,h2,p1,p2,span,img,a { margin:0; padding:0; list-style:none; border:0; text-decoration:none; outline:none; }

.fleft { float:left; margin:0 0 15px 0; padding:0; }
.fright { float:right; margin:0; padding:0; }

/*========== Layout Container Objects ==========*/
#wrap { width:950px; margin:0 auto; background:url(./border.png) repeat-y; overflow:hidden; }

/*======== Header Section ========*/
#header { width:950px; height:310px; float:left; background:url(./header.png) no-repeat; }
.logo { width:auto; float:left; margin:20px 0 0 19px; padding:0; }

/*======== Bodycontainer Section ========*/
a.mail-link:link{color: #4c4c4c;   text-decoration: none;}
a.mail-link:visited{   color: #4c4c4c;   text-decoration: none;}
a.mail-link:hover{   color: #fb3f00;   text-decoration: none;}
a.mail-link:active{   color: #4c4c4c;   text-decoration: none;}

#bodycontainer { width:904px; float:left; padding:0 23px 0 23px; }
.leftpanel { width:310px; float:left; }
.leftpanel h1 { width:310px; float:left; font-family:Helvetica, Arial, sans-serif;; font-size:21px; font-weight:bold; color:#5a5a5a; }
.leftpanel h2 { width:310px; float:left; padding:10px 0 1px 0; font-family:Helvetica, Arial, sans-serif;; font-size:21px; font-weight:bold; color:#5a5a5a; }
.leftpanel span { width:310px; float:left; padding:5px 0 10px 0; font-family:Helvetica, Arial, sans-serif;; font-size:20px; font-weight:normal; color:#0096ff; }
.leftpanel p1 { width:310px; float:left; padding:10px 0 10px 0; font-family:"Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;; font-size:20px; font-weight:normal; color:#4c4c4c; }
.leftpanel p2 { width:310px; float:left; padding:10px 0 10px 0; font-family:Helvetica, Arial, sans-serif;; font-size:20px; font-weight:normal; color:#4c4c4c; }

.rightpanel { width:550px; float:right; position:relative; }
.rightpanel h1{ width:550px; display:table; padding:0; font-family:Helvetica, Arial, sans-serif;; font-size:30px; font-weight:bold; color:#5a5a5a; }
.rightpanel h2 { width:550px; display:table; font-family:Helvetica, Arial, sans-serif;; font-size:19px; font-weight:bold; color:#5a5a5a; }
.rightpanel span { width:550px; float:left; font-family:Helvetica, Arial, sans-serif;; font-size:18px; font-weight:normal; color:#0096ff; }
.rightpanel ul { width:525px; float:right; margin:0; padding:20px 0 0 0; }
.rightpanel ul li { width:525px; float:left; margin:0; padding:10px 0 0 0; list-style:disk; font-family:Arial, Helvetica, sans-serif;; font-size:15px; font-weight:bold; color:#8888a8; }
.rightpanel p { width:auto; display:compact; padding:12px 0 0 0; font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:normal; color:#4c4c4c; }
.rightpanel img { float:left; margin:16px 10px 10px 0; padding:0; }
.contact { width:128px; height:128px; position:absolute; right:-25px; top:-65px; }
.accreditations { width:550px; height:270px; position:absolute; right:20px; top:250px; }

/*======== Footer Section ========*/
#footer { width:930px; height:45px; float:left; padding:50px 20px 0 0; font-family:Arial, Helvetica, sans-serif; font-weight:normal; font-size:10px; color:#cccccc; text-align:right; }
#footer span { width:930px; float:left; text-align:right; color:#cccccc; padding:5px 0 0 0; }
#footer span a { color:#cccccc; text-decoration:underline; }
#footer span a:hover { text-decoration:none; }
